* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    background-color: #434343;
    font-family: sans-serif;
    }
#header {
    background: linear-gradient(#003366FF, #00336680), linear-gradient(#000000FF, #000000FF);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, 75px 75px;
    width: 750px;
    height: 150px;
    text-align: center;
    color: blue;
    background-clip: 70px 70px, 0 0;
    }
h1 {
    height: 150px;
    line-height: 150px;
}
.lotus {
    width: 250px;
    height: 500px;
    margin-left: 825px;
    margin-top: -100px;
    transform: rotate(-60deg) skew(-20deg);
    background-color: #FD5F00;
    }
.lotustitle {
    transform: skew(20deg) rotate(60deg);
    text-align: right;
    }
.lotusdescription {
    transform: skew(20deg) rotate(60deg);
    width: 150px;
    position: relative;
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 15px;
    text-align: right;
    }
.bnb {
    margin-left: 75px;
    margin-top: -375px;
    width: 250px;
    height: 400px;
    transform: skew(20deg);
    background-color: #FF1616;
    }
.bnbtitle{
    transform: skew(-20deg);
    text-align: center;
    }
.bnbdescription {
    transform: skew(-20deg);
    margin-left: 35px;
    margin-top: 10px;
    width: 175px;
    }
.thirdthing {
    margin-left: 450px;
    margin-top: -400px;
    width: 250px;
    height: 400px;
    transform: skew(20deg);
    background-color: #FFBE00;
}
.thirdthingtitle{
    transform: skew(-20deg);
    text-align: center;
    }
.thirdthingdescription {
    transform: skew(-20deg);
    margin-left: 35px;
    margin-top: 10px;
    width: 175px;
    }
#leftbar {
    position: absolute;
    margin-top: 500px;
    background-color: #003366;
    width: 100%;
    height: 75px;
    text-align: center;
    color: blue;
}
.dungeoner {
    width: 350px;
    height: 200px;
    margin-top: 150px;
    margin-left: 225px;
    background-color: #008B8B;
    color: #FFBE00;
    }
.michaeldew {
    width: 350px;
    height: 200px;
    margin-top: -200px;
    margin-left: 650px;
    background-color: #FD5F00;
    color: #003366;
    }
.dungeonertwo{
    background-color: #FF1616;
    margin-left: 100px;
    margin-top: 50px;
    width: 250px;
    height: 250px;
    color: #003366;
    }
.tetris {
    background-color: #FFBE00;
    margin-left: 500px;
    margin-top: -250px;
    width: 250px;
    height: 250px;
    color: blue;
    }
.dungeonerthree {
    background-color: #003366;
    margin-left: 900px;
    margin-top: -250px;
    width: 250px;
    height: 250px;
    margin-bottom: 100px;
    color: #FD5F00;
    }
button {
    margin: 5px;
    background-color: blue;
    padding: 5px 5px 5px 5px;
}
